*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
}

header{
    background-image: url(img/jumbo.png);
    background-size: cover;
}

.topbar{
    background-color: #1A62E9;
    height: 100px;
}

.topbar .container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.container{
    margin: 0 auto;
    max-width: 1400px;
    width: 99%;
    display: flex;
}

.topbar .menu{
    width: 50%;
}

.topbar .menu ul{
    display: flex;
    justify-content: space-between;
}


.debug{
    border: 1px solid black;
}

ul{
    list-style: none;   
}

li > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.login{
    color: #4F5354;
    background-color: white;
    border-radius: 37%;
    padding: 10px 15px;
    font-weight: bold;

}

.jumbotron{
    height: 450px;
    display: flex;   
}
.rettangolo-fucsia{
    height: 80%;
    width: 60%;
    margin: auto;   
    text-align: center; 
    padding: 0px 200px;
}

.rettangolo-fucsia > h1{
    color: white;
    font-size: 3.5rem;
}

.rettangolo-fucsia > p{
    color: white;
    font-size: 1.4rem;
    padding-top: 50px;
}

.botton-jumbotron{
    padding-top: 35px;
}

.botton-mac{
    background-color: white;
    color: black;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 37px;
}

.botton-browser{
    background-color: black;
    color: white;
    margin-left: 50px;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 37px;
}



.seconda-section{
    background-color: #FFFFFF;
    height: 450px;
    display: flex;
    margin: auto;
}

.box1{
    height: 80%;
    width: 60%;
    margin: auto;
    display: flex;
}


.study-group{
    background-image: url(img/item1.svg);
    background-size: cover;
    width: 70%;
    height: 100%;
}    

.rettangolo-rosa-grande{
    background-color: #FEC0CB;
    width: 70%;
    height: 100%;
}

.study-group-text{
    width: 30%;
    height: 100%;
    padding-top: 30px;
}

.study-group-text > h2{
    font-size: 2rem;
}

.study-group-text > p{
    font-size: 1.2rem;
    padding-top: 30px;
}



.rettangolo-azzurro-piccolo{
    background-color: #1D90FF;
    width: 30%;
    height: 100%;

}

.terza-section{
    background-color: #F6F6F6;
    height: 450px;
    display: flex;   
}

.voice-connect{
    background-image: url(img/item2.svg);
    background-size: cover;
    width: 70%;
    height: 100%;
}

.text-voice-connect{
    width: 30%;
    height: 100%;
    padding-top: 30px;
}

.text-voice-connect > h2{
    font-size: 2rem;
}

.text-voice-connect > p{
    font-size: 1.2rem;
    padding-top: 30px;
}



.quarta-section{
    background-color: #FFFFFF;
    height: 450px;
    display: flex;
}

.fandom-img{
    background-image: url(img/item3.svg);
    background-size: cover;
    width: 70%;
    height: 100%;
}

.fandom-text{
    width: 30%;
    height: 100%;
    padding-top: 30px;
}

.fandom-text > h2{
    font-size: 2rem;
}

.fandom-text > p{
    font-size: 1.2rem;
    padding-top: 30px;
}


.quinta-section{
    background-color: #F6F6F6;
    height: 800px;
    display: flex;
}

.tecnologia{
    width: 60%;
    height: 80%;
    margin: auto;
    text-align: center;
}

.top-tecnologia{
    height: 15%;
}

.tecnologia-img{
    background-image: url(img/item4-big.svg);
    background-size: cover;
    height: 70%;
}

.bottom-tecnologia{
    height: 15%;
    padding-top: 50px;
}

.botton-mac-bottom-main{
    background-color: #8DA0E1;
    color: white;
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 37px;
}


.top-footer{
   background-color: #23272A; 
   height: 550px;
   display: flex;
}

.colonne{
    height: 90%;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: stretch;

}

.colonna-md{
    width: 32%;
    background-color: #F07F80;
    height: 100%;
    margin: 1px solid black;

}
.colonna-sm{
    width: 16%;
    background-color: #21B2AB;
    height: 100%;
    margin: 1px solid black;
}

.bottom-footer{
    background-color: #23272A; 
    height: 80px;
    display: flex;
}

.box2{
    height: 90%;
    width: 60%;
    margin: auto;
    display: flex;
    background-color: #80FFD4;
    justify-content: space-between;
    align-items: center;
}

.bottone-logo-footer{
    background-color: #FFB6C2;

}

.bottone-footer{
    background-color: #FFB6C2;

}